<ion-header collapse="fade" [translucent]="true" class="ion-no-border" mode="ios">
  <ion-toolbar class="custom-toolbar">
    <!-- <ion-buttons slot="start">
      <ion-back-button mode="ios" (click)="back()" defaultHref="/" [text]="'common.back' | translate"></ion-back-button>
    </ion-buttons> -->

    <ion-buttons slot="start">
      <ion-button routerLink="/" routerDirection="root">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title> {{ 'page_title.settings' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col class="custom-col" sizeXs="6" sizeSm="4" sizeMd="4" sizeLg="4" sizeXl="4">
      <ion-card button class="custom-card ion-text-center" (click)="clickElement('languageSelect')">
        <ion-card-content class="custom-card-content">
          <ion-icon name="language-outline"></ion-icon>

          <div class="text-ellipsis font-weight-bold">
            <ion-select id='languageSelect' mode="ios" [interfaceOptions]="{ header: 'common.language' | translate }"
              class="custom-select" (ionChange)="selectLng($event)" [value]="selectedLanguage"
              okText='{{ "button.confirm" | translate }}' cancelText='{{ "button.cancel" | translate }}'>
              <ion-select-option *ngFor="let lng of languages" value="{{ lng.value }}">
                {{'lang.' + lng.value | translate }}
              </ion-select-option>
            </ion-select>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col class="custom-col" sizeXs="6" sizeSm="4" sizeMd="4" sizeLg="4" sizeXl="4">
      <ion-card button class="custom-card ion-text-center" (click)="clickElement('unitSelect')">
        <ion-card-content class="custom-card-content ion-text-center">
          <ion-icon name="speedometer-outline"></ion-icon>

          <div class="text-ellipsis font-weight-bold">
            <ion-select id="unitSelect" mode="ios" [interfaceOptions]="{ header: 'common.unit' | translate }"
              class="custom-select" (ionChange)="changeUnit($event)" [value]="selectedUnit"
              okText='{{ "button.confirm" | translate }}' cancelText='{{ "button.cancel" | translate }}'>
              <ion-select-option *ngFor="let unit of units" value="{{ unit.value }}">
                {{ 'unit.' + unit.value | translate }}
              </ion-select-option>
            </ion-select>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col class="custom-col" sizeXs="6" sizeSm="4" sizeMd="4" sizeLg="4" sizeXl="4">
      <ion-card button class="custom-card ion-text-center" (click)="changeEnableHighAccuracy()"
        [color]="enableHighAccuracy ? 'primary' : ''">
        <ion-card-content class="custom-card-content ion-text-center">
          <ion-icon name="locate-outline">
          </ion-icon>

          <div class="text-ellipsis font-weight-bold">
            {{ 'common.high_accuracy' | translate }}
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col class="custom-col" sizeXs="6" sizeSm="4" sizeMd="4" sizeLg="4" sizeXl="4">
      <ion-card button class="custom-card ion-text-center" id="open-correction-speed-modal">
        <ion-card-content class="custom-card-content ion-text-center">
          <span class="speed-correction">
            <ion-icon class="custom-icon" name="speedometer-outline">
            </ion-icon>
            <ion-text class="ion-text-center speed-correction-text">
              +{{speedCorrection}}%
            </ion-text>
          </span>


          <div class="text-ellipsis font-weight-bold">
            {{ 'common.speed_correction' | translate }}
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col class="custom-col" sizeXs="6" sizeSm="4" sizeMd="4" sizeLg="4" sizeXl="4">
      <ion-card button class="custom-card ion-text-center" (click)="confirmClear()">
        <ion-card-content class="custom-card-content ion-text-center">
          <ion-icon name="trash-outline"></ion-icon>

          <div class="text-ellipsis font-weight-bold">
            {{ 'common.clear_data' | translate }}
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col class="custom-col" sizeXs="6" sizeSm="4" sizeMd="4" sizeLg="4" sizeXl="4">
      <ion-card button class="custom-card ion-text-center" (click)="checkForUpdate()"
        [disabled]="!appVersion || isCheckingForUpdate">
        <ion-card-content class="custom-card-content ion-text-center">
          <ion-icon name="download-outline">
          </ion-icon>

          <div class="text-ellipsis font-weight-bold">
            {{ 'common.check_for_update' | translate }}
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="ion-no-border ion-text-center" mode="ios">
  <ion-toolbar class="custom-toolbar">
    <div class="version-text">
      <ion-text color="medium">
        {{ 'common.version' | translate: {value: appVersion ? appVersion : '-'} }}
      </ion-text>
    </div>

    <ion-row class="contact-div">
      <ion-buttons class="contact-buttons">
        <ion-button href="https://www.facebook.com/vdt.2210">
          <ion-icon class="contact-icon-button" slot="icon-only" name="logo-facebook"></ion-icon>
        </ion-button>

        <ion-button href="https://github.com/vdt2210/GPS-Speedometer/">
          <ion-icon class="contact-icon-button" slot="icon-only" name="logo-github"></ion-icon>
        </ion-button>

        <ion-button href="mailto:vdt1999@outlook.com">
          <ion-icon class="contact-icon-button" slot="icon-only" name="mail"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ion-modal trigger="open-correction-speed-modal" mode="ios" [initialBreakpoint]="0.25"
  [breakpoints]="[0, 0.25, 0.5, 0.75]">
  <ng-template>
    <ion-content>
      <ion-range (ionKnobMoveEnd)="onSpeedCorrectionChange($event)" [pin]="true" [ticks]="true" [snaps]="true" [min]="0"
        [max]="10" mode="ios" [value]="speedCorrection">
        <ion-text slot="start">+0%</ion-text>
        <ion-text slot="end">+10%</ion-text>
      </ion-range>
      <div style="padding: 0 2vmax" class="ion-text-center">
        <ion-text>
          Ex: 115km/h or 72mph (GPS) + 4% = ~120km/h or ~75mph (vehicle).
        </ion-text>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>