.custom-toolbar {
  --background: var(--ion-background-color) !important;
}

.contact-btns {
  justify-content: center;
}

.contact-div {
  justify-content: center;
}

// .custom-col {
//   .custom-card {
//     margin: 0;
//   }

//   .custom-card-header {
//     color: var(--ion-text-color);
//     padding: 0 10px 10px;
//   }

//   .custom-card-content {
//     padding: 10px;
//   }

//   .custom-select {
//     padding: 0;

//     &::part(icon) {
//       display: none;
//     }
//   }
// }

.custom-col {
  .custom-card {
    color: var(--ion-text-color);
    // padding: 10px;
    margin: unset;
    display: flex;
    min-height: 12vmax;
    height: 100%;
  }

  .custom-card-header {
    padding: unset;

    .custom-card-title {
      font-size: 1.5vmax;
      font-weight: bold;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .custom-card-content {
    // padding: 2vmax 0;

    font-size: 1.5vmax;
  }

  .custom-select {
    padding: unset;
    margin: auto;
    width: fit-content;

    &::part(icon) {
      display: none;
    }
  }
}

// .version-text {
//   font-size: 1.5vmax;
// }
