<ion-header collapse="fade" [translucent]="true" class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" (click)="back()" defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title> {{ 'page_title.settings' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col class="custom-col" sizeXs="6" sizeSm="4" sizeMd="4" sizeLg="4" sizeXl="4">
      <ion-card button class="custom-card ion-text-center">
        <ion-card-content class="custom-card-content">
          <ion-icon size="large" ios="color-palette-outline" md="color-palette-sharp"></ion-icon>
        </ion-card-content>
        <ion-card-header class="custom-card-header ion-text-center">
          <ion-card-title class="custom-card-title">
            {{ 'common.theme_color' | translate }}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col class="custom-col" sizeXs="6" sizeSm="4" sizeMd="4" sizeLg="4" sizeXl="4">
      <ion-card button class="custom-card ion-text-center" (click)="clickElement('languageSelect')">
        <ion-card-content class="custom-card-content">
          <ion-icon size="large" ios="language-outline" md="language-sharp"></ion-icon>
        </ion-card-content>
        <ion-card-header class="custom-card-header ion-text-center">
          <ion-card-title class="custom-card-title">
            <ion-select id='languageSelect' [interfaceOptions]="{ header: 'common.language' | translate }"
              class="custom-select" (ionChange)="selectLng($event)" [value]="selectedLanguage"
              okText='{{ "button.confirm" | translate }}' cancelText='{{ "button.cancel" | translate }}'>
              <ion-select-option *ngFor="let lng of languages" value="{{ lng.value }}">
                {{'lang.' + lng.value | translate }}
              </ion-select-option>
            </ion-select>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col class="custom-col" sizeXs="6" sizeSm="4" sizeMd="4" sizeLg="4" sizeXl="4">
      <ion-card button class="custom-card ion-text-center" (click)="clickElement('unitSelect')">
        <ion-card-content class="custom-card-content ion-text-center">
          <ion-icon size="large" ios="speedometer-outline" md="speedometer-sharp"></ion-icon>
        </ion-card-content>
        <ion-card-header class="custom-card-header ion-text-center">
          <ion-card-title class="custom-card-title">
            <ion-select id="unitSelect" [interfaceOptions]="{ header: 'common.unit' | translate }" class="custom-select"
              (ionChange)="changeUnit($event)" [value]="selectedUnit" okText='{{ "button.confirm" | translate }}'
              cancelText='{{ "button.cancel" | translate }}'>
              <ion-select-option *ngFor="let unit of units" value="{{ unit.value }}">
                {{ 'unit.' + unit.value | translate }}
              </ion-select-option>
            </ion-select>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col class="custom-col" sizeXs="6" sizeSm="4" sizeMd="4" sizeLg="4" sizeXl="4">
      <ion-card button class="custom-card ion-text-center" (click)="changeEnableHighAccuracy()"
        [color]="enableHighAccuracy ? 'primary' : ''">
        <ion-card-content class="custom-card-content ion-text-center">
          <ion-icon size="large" ios="locate-outline" md="locate-sharp">
          </ion-icon>
        </ion-card-content>
        <ion-card-header class="custom-card-header ion-text-center">
          <ion-card-title class="custom-card-title">
            {{ 'common.high_accuracy' | translate }}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col class="custom-col" sizeXs="6" sizeSm="4" sizeMd="4" sizeLg="4" sizeXl="4">
      <ion-card button class="custom-card ion-text-center" id="open-speed-adjustment-modal">
        <ion-card-content class="custom-card-content ion-text-center">
          <ion-icon size="large" class="cus-icon" ios="speedometer-outline" md="speedometer-sharp">
          </ion-icon>
        </ion-card-content>
        <ion-card-header class="custom-card-header ion-text-center">
          <ion-card-title class="custom-card-title">
            {{ 'common.speed_correction' | translate: {value: speedCorrection} }}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col class="custom-col" sizeXs="6" sizeSm="4" sizeMd="4" sizeLg="4" sizeXl="4">
      <ion-card button class="custom-card ion-text-center" (click)="confirmClear()">
        <ion-card-content class="custom-card-content ion-text-center">
          <ion-icon size="large" ios="trash-outline" md="trash-sharp"></ion-icon>
        </ion-card-content>
        <ion-card-header class="custom-card-header ion-text-center">
          <ion-card-title class="custom-card-title">
            {{ 'common.clear_data' | translate }}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col class="custom-col" sizeXs="6" sizeSm="4" sizeMd="4" sizeLg="4" sizeXl="4">
      <ion-card button class="custom-card ion-text-center" (click)="checkForUpdate()"
        [disabled]="!appVersion || isCheckingForUpdate">
        <ion-card-content class="custom-card-content ion-text-center">
          <ion-icon size="large" ios="download-outline" md="download-sharp">
          </ion-icon>
        </ion-card-content>
        <ion-card-header class="custom-card-header ion-text-center">
          <ion-card-title class="custom-card-title">
            {{ 'common.check_for_update' | translate }}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="ion-no-border ion-text-center">
  <ion-toolbar class="cus-toolbar">
    <ion-label color="medium">
      {{ 'common.version' | translate: {value: appVersion != null ? appVersion : '-'} }}
    </ion-label>

    <ion-row class="contact-div">
      <ion-text class="ion-text-center">
      </ion-text>
      <ion-buttons class="contact-btns">
        <ion-button href="https://www.facebook.com/vdt.2210">
          <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
        </ion-button>

        <ion-button href="https://github.com/vdt2210/GPS-Speedometer/">
          <ion-icon slot="icon-only" name="logo-github"></ion-icon>
        </ion-button>

        <ion-button href="mailto:vdt1999@outlook.com">
          <ion-icon slot="icon-only" name="mail"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ion-modal trigger="open-speed-adjustment-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
  <ng-template>
    <ion-content>
      <ion-range (ionKnobMoveEnd)="onSpeedCorrectionChange($event)" [pin]="true" [ticks]="true" [snaps]="true" [min]="0"
        [max]="10" mode="ios" [value]="speedCorrection">
        <ion-text slot="start">+0</ion-text>
        <ion-text slot="end">+10</ion-text>
      </ion-range>
      <div style="padding: 0 20px">
        <ion-icon ios="information-circle-outline" md="information-circle-sharp"></ion-icon>
        <ion-text> This feature is still in work in progress. This feature will help you correct the error of GPS speed
          compared to the speedometer on your vehicle.<br>
          For example: 115 km/h + 4% = ~120 km/h or 72 mph + 4% = ~75mph.
        </ion-text>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>