.custom-toolbar {
  --background: var(--ion-background-color) !important;
}

.version-text {
  font-size: 2vmax;
}

.contact-btns {
  justify-content: center;
}

.contact-div {
  justify-content: center;
}

.custom-col {
  .custom-card {
    color: var(--ion-text-color);
    margin: unset;
    display: flex;
    min-height: 12vmax;
    height: 100%;
  }

  // .custom-card-header {
  //   padding: unset;

  //   .custom-card-title {
  //     font-size: 1.5vmax;
  //     font-weight: bold;
  //     text-overflow: ellipsis;
  //     overflow: hidden;
  //     white-space: nowrap;
  //   }
  // }

  .custom-card-content {
    font-size: 2vmax;

    ion-icon {
      font-size: 4vmax;
    }
  }

  .custom-select {
    padding: unset;
    margin: auto;
    width: fit-content;

    &::part(icon) {
      display: none;
    }
  }
}
