@import "./src/theme/mixin.scss";

.custom-toolbar {
  --background: var(--ion-background-color) !important;
}

ion-footer {
  padding: 0 1vmax 1vmax;
}

.version-text {
  margin-bottom: 1.5vmax;

  @include mobile {
    font-size: var(--font-size-px-18);
  }

  @include tablet {
    font-size: var(--font-size-px-22);
  }

  @include desktop {
    font-size: var(--font-size-px-30);
  }
}

.contact-buttons {
  gap: 2vmax;
  justify-content: center;

  .contact-icon-button[slot="icon-only"] {
    font-size: 2.5vmax;
  }
}

.contact-div {
  justify-content: center;
}

.custom-col {
  .custom-card {
    color: var(--ion-text-color);
    margin: unset;
    display: flex;
    min-height: 12vmax;
    height: 100%;
  }

  .custom-card-content {
    @include mobile {
      font-size: var(--font-size-px-18);
    }

    @include tablet {
      font-size: var(--font-size-px-22);
    }

    @include desktop {
      font-size: var(--font-size-px-30);
    }

    ion-icon {
      font-size: 4vmax;
    }
  }

  .custom-select {
    padding: unset;
    margin: auto;
    width: fit-content;

    &::part(icon) {
      display: none;
    }
  }
}

.speed-correction {
  align-items: center;
  display: inline-flex;
  gap: 1vmax;

  .speed-correction-text {
    font-size: 3vmax;
  }
}

.log-in-modal {
  .form-input-wrapper {
    ion-item:first-child {
      border-top-left-radius: 1vmax;
      border-top-right-radius: 1vmax;
    }

    ion-item:last-child {
      border-bottom-left-radius: 1vmax;
      border-bottom-right-radius: 1vmax;
    }
  }

  .form-button-wrapper {
    text-align: center;

    .submit-button {
      width: 100%;
    }
  }
}
