@import "./mixin.scss";

:root {
  @include mobile {
    --font-size-regular: 18px;
  }

  @include tablet {
    --font-size-regular: 22px;
  }

  @include desktop {
    --font-size-regular: 30px;
  }

  --font-size-px-10: 10px;
  --font-size-px-12: 12px;
  --font-size-px-14: 14px;
  --font-size-px-16: 16px;
  --font-size-px-18: 18px;
  --font-size-px-20: 20px;
  --font-size-px-22: 22px;
  --font-size-px-24: 24px;
  --font-size-px-26: 26px;
  --font-size-px-28: 28px;
  --font-size-px-30: 30px;
  --font-size-px-32: 32px;
  --font-size-px-34: 34px;
  --font-size-px-36: 36px;
  --font-size-px-38: 38px;
  --font-size-px-40: 40px;
  --font-size-px-42: 42px;
  --font-size-px-44: 44px;
  --font-size-px-46: 46px;
  --font-size-px-48: 48px;
  --font-size-px-50: 50px;
  --font-size-px-58: 58px;
  --font-size-px-64: 64px;
  --font-size-px-70: 70px;
  --font-size-px-74: 74px;
  --font-size-px-80: 80px;
  --font-size-px-82: 82px;
  --font-size-px-84: 84px;
  --font-size-px-88: 88px;
  --font-size-px-90: 90px;
  --font-size-px-92: 92px;
  --font-size-px-100: 100px;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-medium {
  font-weight: medium;
}

.font-weight-bold {
  font-weight: bold;
}
