@import "./fontStyles.scss";
@import "./mixin.scss";
@import "./animations.scss";

:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** font **/
  --ion-font-family: Main;
}

/*
 * Dark Colors
 * -------------------------------------------
 */

body {
  --ion-color-primary: #428cff;
  --ion-color-primary-rgb: 66, 140, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3a7be0;
  --ion-color-primary-tint: #5598ff;

  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80, 200, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}

/*
 * Dark Theme
 * -------------------------------------------
 */

.md body,
.ios body {
  --ion-background-color: #000000;
  --ion-background-color-white: #ffffff;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-black: #000000;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-item-background: #000000;

  --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: linear-gradient(
    to top,
    var(--ion-color-step-50),
    var(--ion-color-step-100)
  );
}

.md body ion-modal,
.ios body ion-modal {
  --ion-background-color: var(--ion-color-step-100);
  --ion-toolbar-background: var(--ion-color-step-150);
  --ion-toolbar-border-color: var(--ion-color-step-250);
  --ion-item-background: var(--ion-color-step-150);
}

/*
 * Custom Style
 * -------------------------------------------
 */

//* custom toolbar //
.custom-toolbar {
  --background: var(--ion-background-color) !important;

  font-size: max(2vmax, 20px);
  // @include mobile {
  //   font-size: var(--font-size-px-18);
  // }

  // @include tablet {
  //   font-size: var(--font-size-px-22);
  // }

  // @include desktop {
  //   font-size: var(--font-size-px-30);
  // }

  ion-title {
    font-size: max(2vmax, 20px);
    // @include mobile {
    //   font-size: var(--font-size-px-18);
    // }

    // @include tablet {
    //   font-size: var(--font-size-px-22);
    // }

    // @include desktop {
    //   font-size: var(--font-size-px-30);
    // }
  }
}

// * custom alert
ion-alert {
  .alert-wrapper {
    border-radius: 1.5vmax !important;
  }

  .alert-wrapper.sc-ion-alert-md,
  .alert-wrapper.sc-ion-alert-ios {
    width: 30vmax;
    max-width: 30vmax;
    background: linear-gradient(
      to top,
      var(--ion-color-step-100),
      var(--ion-color-step-150)
    );
    text-align-last: center;
  }

  .alert-head.sc-ion-alert-md,
  .alert-head.sc-ion-alert-ios {
    padding: 1vmax;
  }

  .alert-button-inner.sc-ion-alert-ios,
  .alert-button-inner.sc-ion-alert-md {
    gap: 1vmax;
  }

  .alert-button.sc-ion-alert-ios {
    border-top: 0.1vmax solid var(--ion-color-step-200);
    border-right: 0.1vmax solid var(--ion-color-step-200);
  }

  .alert-head.sc-ion-alert-md + .alert-message.sc-ion-alert-md,
  .alert-head.sc-ion-alert-ios + .alert-message.sc-ion-alert-ios {
    padding-bottom: 2vmax;
    padding-top: 2vmax;
    border-top: 0.1vmax solid var(--ion-color-step-200);
    max-height: unset;

    @include mobile {
      font-size: var(--font-size-px-18);
    }

    @include tablet {
      font-size: var(--font-size-px-22);
    }

    @include desktop {
      font-size: var(--font-size-px-30);
    }
  }

  .alert-head.sc-ion-alert-md + .alert-message.sc-ion-alert-md {
    color: var(--ion-text-color);
    border-bottom: 0.1vmax solid var(--ion-color-step-200);
  }

  .alert-tappable.sc-ion-alert-ios,
  .alert-tappable.sc-ion-alert-md {
    height: 5vmax;
  }

  .alert-radio-group.sc-ion-alert-md,
  .alert-checkbox-group.sc-ion-alert-md {
    text-align-last: left;
    border-top: 0.1vmax solid var(--ion-color-step-200);
    border-bottom: 0.1vmax solid var(--ion-color-step-200);
  }

  .alert-radio-label.sc-ion-alert-md,
  .alert-radio-label.sc-ion-alert-ios,
  .alert-checkbox-label.sc-ion-alert-md,
  .alert-checkbox-label.sc-ion-alert-ios {
    color: var(--ion-text-color) !important;
    // padding-inline: 1vmax 0;
    padding-inline: 0;
    padding-block: 0;

    @include mobile {
      font-size: var(--font-size-px-18);
    }

    @include tablet {
      font-size: var(--font-size-px-22);
    }

    @include desktop {
      font-size: var(--font-size-px-30);
    }
  }

  .alert-checkbox-icon.sc-ion-alert-ios,
  .alert-checkbox-icon.sc-ion-alert-md {
    width: 2vmax;
    height: 2vmax;
    margin-inline: 0;
    margin: 0;
  }

  [aria-checked="true"].sc-ion-alert-ios .alert-checkbox-inner.sc-ion-alert-ios,
  [aria-checked="true"].sc-ion-alert-md .alert-checkbox-inner.sc-ion-alert-md {
    left: 0.5vmax;
    top: 0.1vmax;
    width: 0.7vmax;
    height: 1.2vmax;
    border-width: 0 0.2vmax 0.2vmax 0;
    border-color: var(--ion-background-color-white);
  }

  .alert-radio-icon.sc-ion-alert-ios,
  .alert-radio-icon.sc-ion-alert-md {
    min-width: 2.3vmax;
  }

  [aria-checked="true"].sc-ion-alert-ios .alert-radio-inner.sc-ion-alert-ios,
  [aria-checked="true"].sc-ion-alert-md .alert-radio-inner.sc-ion-alert-md {
    left: 0.5vmax;
    top: -1.25vmax;
    width: 1vmax;
    height: 2vmax;
    border-width: 0 0.2vmax 0.2vmax 0;
  }

  .alert-radio-group.sc-ion-alert-ios,
  .alert-checkbox-group.sc-ion-alert-ios {
    border-top: 0.1vmax solid var(--ion-color-step-200);
    text-align-last: left;
    max-height: 100%;
    padding: 1vmax;
  }

  .alert-message.sc-ion-alert-md:empty,
  .alert-message.sc-ion-alert-ios:empty {
    display: none;
  }

  .alert-title.sc-ion-alert-md,
  .alert-title.sc-ion-alert-ios {
    margin: 0;

    @include mobile {
      font-size: var(--font-size-px-18);
    }

    @include tablet {
      font-size: var(--font-size-px-22);
    }

    @include desktop {
      font-size: var(--font-size-px-30);
    }
  }

  .alert-button.sc-ion-alert-md,
  .alert-button.sc-ion-alert-ios {
    height: 5vmax;

    @include mobile {
      font-size: var(--font-size-px-18);
    }

    @include tablet {
      font-size: var(--font-size-px-22);
    }

    @include desktop {
      font-size: var(--font-size-px-30);
    }
  }
}

// * custom icon
ion-icon,
ion-back-button,
.sc-ion-buttons-ios-s ion-icon[slot="icon-only"] {
  color: var(--ion-text-color);

  @include mobile {
    font-size: var(--font-size-px-26);
    --icon-font-size: var(--font-size-px-26);
  }

  @include tablet {
    font-size: var(--font-size-px-30);
    --icon-font-size: var(--font-size-px-30);
  }

  @include desktop {
    font-size: var(--font-size-px-38);
    --icon-font-size: var(--font-size-px-38);
  }
}

.sc-ion-buttons-ios-s ion-button {
  height: unset;
  margin-inline: unset;
  --padding-start: 0;
  --padding-end: 0;
}

// * custom card
ion-card {
  border-radius: 1.5vmax;
  border: 0.3vmax solid var(--ion-color-step-150);
  margin: 1vmax;

  @include mobile {
    font-size: var(--font-size-px-18);
  }

  @include tablet {
    font-size: var(--font-size-px-22);
  }

  @include desktop {
    font-size: var(--font-size-px-30);
  }
}

// * custom toast
.custom-toast {
  --border-radius: 5vmax;
  --min-width: fit-content;
  --max-width: 100%;

  @include mobile {
    font-size: var(--font-size-px-18);
  }

  @include tablet {
    font-size: var(--font-size-px-22);
  }

  @include desktop {
    font-size: var(--font-size-px-30);
  }

  &::part(button) {
    padding-inline: 1vmax;
    height: unset;

    @include mobile {
      font-size: var(--font-size-px-18);
    }

    @include tablet {
      font-size: var(--font-size-px-22);
    }

    @include desktop {
      font-size: var(--font-size-px-30);
    }
  }

  &::part(message) {
    padding-inline: 1vmax;
  }
}

// * custom swiper
.swiper {
  width: auto;

  ion-card {
    border-radius: 3vmax;
  }

  .swiper-pagination-bullets .swiper-pagination-bullet {
    background: var(--ion-text-color);
  }
}

// * custom button
button:disabled {
  opacity: 0.5;
}

// * custom range
ion-range {
  justify-content: center;
  padding: 2vmax;
}

ion-range::part(tick) {
  background: var(--ion-color-step-400);
}

ion-range::part(tick-active) {
  background: var(--ion-color-step-400);
}

ion-range::part(pin) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--ion-text-color-black);
  border-radius: 50%;
  transform: scale(1.01);
  z-index: 3;
  top: 14px;
  min-width: 28px;
  height: 28px;
  font-weight: bold;
  transition: transform 120ms ease, background 120ms ease;
}

ion-range::part(pin)::before {
  content: none;
}

ion-range::part(knob) {
  background: var(--ion-background-color-white);
}

ion-range::part(bar) {
  background: var(--ion-color-step-400);
}

ion-range::part(bar-active) {
  background: var(--ion-color-step-400);
}

// * custom ios translucent toolbar
.header-translucent-ios ion-toolbar {
  --opacity: 1;
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
}
