<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="cus-toolbar">
    <ion-icon class="timer-icon" size="large" slot="start" [ios]="timerIcon + '-outline'" [md]="timerIcon + '-sharp'">
    </ion-icon>
    <ion-text slot="start">{{ time }}</ion-text>

    <ion-buttons class="cus-btns">
      <ion-button (click)="startTimer()" [hidden]="hiddenStartIcon">
        <ion-icon slot="icon-only" [ios]="startIcon + '-outline'" [md]="startIcon + '-sharp'"></ion-icon>
      </ion-button>

      <ion-button (click)="stopTimer()" [hidden]="hiddenStopIcon">
        <ion-icon slot="icon-only" [ios]="stopIcon + '-outline'" [md]="stopIcon + '-sharp'"></ion-icon>
      </ion-button>

      <ion-button routerLink="/settings" routerDirection="root">
        <ion-icon slot="icon-only" [ios]="settingsIcon + '-outline'" [md]="settingsIcon + '-sharp'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="speedo-div">
      <p>
        <ion-text id="speedo" *ngIf="speedo">{{ speedo }}</ion-text>
        <ion-text id="speedo" *ngIf="!speedo">-</ion-text>
        <ion-text id="unit" (click)="changeUnit()"> {{ speedUnit }}</ion-text>
      </p>
    </div>

    <div *ngIf="!isPortrait" class="landscape-info">
      <ion-card>
        <div class="details">
          <ion-row class="ion-justify-content-between border-bottom">
            <ion-col class="ion-text-left">
              <p>
                <strong>{{ "COMMON.topSpeed" | translate }}:</strong>
              </p>
            </ion-col>

            <ion-col class="ion-text-right">
              <p>{{ topSpeed }} {{ speedUnit }}</p>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-between border-bottom">
            <ion-col class="ion-text-left">
              <p>
                <strong>{{ "COMMON.avgSpeed" | translate }}:</strong>
              </p>
            </ion-col>

            <ion-col class="ion-text-right">
              <p>
                <ion-text *ngIf="avgSpeed">{{ avgSpeed }}</ion-text>
                <ion-text *ngIf="!avgSpeed">-.-</ion-text>
                <ion-text> {{ speedUnit }}</ion-text>
              </p>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-between border-bottom">
            <ion-col class="ion-text-left">
              <p><strong>{{ "COMMON.altitude" | translate }}:</strong>
              </p>
            </ion-col>

            <ion-col class="ion-text-right">
              <p>
                <ion-text *ngIf="altitude">{{ altitude }}</ion-text>
                <ion-text *ngIf="!altitude">-</ion-text>
                <ion-text> {{ lenghtUnit }}</ion-text>
              </p>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-between border-bottom">
            <ion-col class="ion-text-left">
              <p><strong>{{ "COMMON.accuracy" | translate }}:</strong>
              </p>
            </ion-col>

            <ion-col class="ion-text-right">
              <p>
                <ion-text *ngIf="accuracy">{{ accuracy }}</ion-text>
                <ion-text *ngIf="!accuracy">-</ion-text>
                <ion-text> {{ lenghtUnit }}</ion-text>
              </p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="col-border">
              <p><strong>{{ "COMMON.latitude" | translate }}:</strong></p>
              <p>
                <ion-text *ngIf="lat">{{ lat }}</ion-text>
                <ion-text *ngIf="!lat">-.-</ion-text>
              </p>
            </ion-col>

            <ion-col>
              <p>
                <strong>{{ "COMMON.longtitude" | translate }}:</strong>
              </p>
              <p>
                <ion-text *ngIf="lon">{{ lon }}</ion-text>
                <ion-text *ngIf="!lon">-.-</ion-text>
              </p>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>


<ion-footer class="ion-no-border ion-text-center">
  <div class="trip">
    <p>
      <ion-text class="trip-number" *ngIf="distance">{{ distance }}</ion-text>
      <ion-text class="trip-number" *ngIf="!distance">-.-</ion-text>
      <ion-text> {{ distanceUnit }}</ion-text>
    </p>
  </div>

  <div *ngIf="isPortrait" class="portrait-info">
    <swiper [autoplay]="{
      delay: 10000,
      disableOnInteraction: false
    }">
      <ng-template swiperSlide>
        <ion-card>
          <div class="details">
            <ion-row>
              <ion-col class="col-border">
                <p>
                  <strong>{{ "COMMON.topSpeed" | translate }}:</strong>
                </p>
                <p>{{ topSpeed }} {{ speedUnit }}</p>
              </ion-col>

              <ion-col>
                <p>
                  <strong>{{ "COMMON.avgSpeed" | translate }}:</strong>
                </p>
                <p>
                  <ion-text *ngIf="avgSpeed">{{ avgSpeed }}</ion-text>
                  <ion-text *ngIf="!avgSpeed">-.-</ion-text>
                  <ion-text> {{ speedUnit }}</ion-text>
                </p>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ng-template>

      <ng-template swiperSlide>
        <ion-card>
          <div class="details">
            <ion-row>
              <ion-col class="col-border">
                <p><strong>{{ "COMMON.altitude" | translate }}:</strong></p>
                <p>
                  <ion-text *ngIf="altitude">{{ altitude }}</ion-text>
                  <ion-text *ngIf="!altitude">-</ion-text>
                  <ion-text> {{ lenghtUnit }}</ion-text>
                </p>
              </ion-col>

              <ion-col>
                <p><strong>{{ "COMMON.accuracy" | translate }}:</strong></p>
                <p>
                  <ion-text *ngIf="accuracy">{{ accuracy }}</ion-text>
                  <ion-text *ngIf="!accuracy">-</ion-text>
                  <ion-text> {{ lenghtUnit }}</ion-text>
                </p>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ng-template>

      <ng-template swiperSlide>
        <ion-card>
          <div class="details">
            <ion-row>
              <ion-col class="col-border">
                <p><strong>{{ "COMMON.latitude" | translate }}:</strong></p>
                <p>
                  <ion-text *ngIf="lat">{{ lat }}</ion-text>
                  <ion-text *ngIf="!lat">-.-</ion-text>
                </p>
              </ion-col>

              <ion-col>
                <p>
                  <strong>{{ "COMMON.longtitude" | translate }}:</strong>
                </p>
                <p>
                  <ion-text *ngIf="lon">{{ lon }}</ion-text>
                  <ion-text *ngIf="!lon">-.-</ion-text>
                </p>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ng-template>
    </swiper>
  </div>
</ion-footer>
