@font-face {
  font-family: Digi;
  src: url(../../../assets/fonts/DS-DIGII.TTF);
}

#container {
  text-align: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Digi";
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#speedo {
  font-size: 150px;
}

#unit {
  font-size: 25px;
}

.trip {
  font-size: 27px;
  font-family: "Digi";
  p {
    width: fit-content;
    margin: auto;
    color: var(--ion-text-color);
  }
}

.cus-btns {
  justify-content: flex-end;
}

.details {
  color: var(--ion-text-color);

  p {
    margin: auto;
  }

  .col-border {
    border-right: 1px solid var(--ion-color-step-200);
  }
}

.header-timer,
.timer-icon {
  margin-left: 10px;
}

.cus-toolbar {
  --background: var(--ion-background-color) !important;
}

@media (orientation: portrait) {
  ion-card {
    border-radius: 25px;
  }

  .landscape-info {
    display: none;
  }

  @media only screen and (max-width: 380px) {
    #speedo {
      font-size: 100px !important;
    }

    #unit {
      font-size: 20px !important;
    }

    .details {
      font-size: 12px;
    }

    .trip {
      font-size: 22px;
    }

    .timer {
      font-size: 12px;
    }
  }
}

@media (orientation: landscape) {
  #container {
    display: flex;
  }

  ion-card {
    border-radius: 15px;
  }

  #trip {
    display: block;
  }

  .speedo-div,
  .landscape-info {
    margin: auto;
    min-width: 325px;
  }

  .portrait-info {
    display: none;
  }

  .details {
    padding: 5px;

    .border-bottom {
      border-bottom: 1px solid var(--ion-color-step-200);
    }
  }

  @media only screen and (max-width: 700px) {
    #speedo {
      font-size: 100px !important;
    }

    #unit {
      font-size: 20px !important;
    }

    .trip {
      font-size: 22px;
    }

    .details,
    .timer {
      font-size: 12px;
    }

    .speedo-div,
    .landscape-info {
      min-width: 310px;
    }
  }
}
