<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="cus-toolbar">
    <ion-icon class="timer-icon" size="large" slot="start" [ios]="timerIcon + '-outline'" [md]="timerIcon + '-sharp'">
    </ion-icon>
    <ion-text slot="start">{{ time != null ? time : '00:00:00'}}</ion-text>

    <ion-buttons class="cus-btns">
      <ion-button (click)="startTimer()" [hidden]="hiddenStartIcon">
        <ion-icon slot="icon-only" [ios]="startIcon + '-outline'" [md]="startIcon + '-sharp'"></ion-icon>
      </ion-button>

      <ion-button (click)="stopTimer()" [hidden]="!hiddenStartIcon">
        <ion-icon slot="icon-only" [ios]="stopIcon + '-outline'" [md]="stopIcon + '-sharp'"></ion-icon>
      </ion-button>

      <ion-button routerLink="/settings" routerDirection="root">
        <ion-icon slot="icon-only" [ios]="settingsIcon + '-outline'" [md]="settingsIcon + '-sharp'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="speedo-div">
      <p>
        <ion-text id="speedo">{{ speedo != null ? speedo : '-'}}</ion-text>
        <ion-text id="unit" (click)="changeUnit()"> {{ speedUnit }}</ion-text>
      </p>
    </div>

    <div *ngIf="!isPortrait" class="landscape-info">
      <ion-card>
        <div class="details">
          <ion-row class="ion-justify-content-between border-bottom">
            <ion-col class="ion-text-left">
              <p>
                <strong>
                  {{ "common.total_time" | translate }}:
                </strong>
              </p>
            </ion-col>

            <ion-col class="ion-text-right">
              <p>{{ totalTime !== null ? totalTime : '00:00:00'}}</p>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-between border-bottom">
            <ion-col class="ion-text-left">
              <p>
                <strong>
                  {{ "common.top_speed" | translate }}:
                </strong>
              </p>
            </ion-col>

            <ion-col class="ion-text-right">
              <p>{{ topSpeed != null ? topSpeed : '-'}} {{ speedUnit }}</p>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-between border-bottom">
            <ion-col class="ion-text-left">
              <p>
                <strong>
                  {{ "common.avg_speed" | translate }}:
                </strong>
              </p>
            </ion-col>

            <ion-col class="ion-text-right">
              <p>{{ avgSpeed != null ? avgSpeed : '-.-'}} {{ speedUnit }}</p>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-between border-bottom">
            <ion-col class="ion-text-left">
              <p>
                <strong>
                  {{ "common.altitude" | translate }}:
                </strong>
              </p>
            </ion-col>

            <ion-col class="ion-text-right">
              <p>{{ altitude != null ? altitude : '-' }} {{ lenghtUnit }}</p>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-between border-bottom">
            <ion-col class="ion-text-left">
              <p>
                <strong>
                  {{ "common.accuracy" | translate }}:
                </strong>
              </p>
            </ion-col>

            <ion-col class="ion-text-right">
              <p>{{ accuracy != null ? accuracy : '-'}} {{ lenghtUnit }}</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="col-border">
              <p>
                <strong>
                  {{ "common.latitude" | translate }}:
                </strong>
              </p>
              <p>{{ lat != null ? lat : '-.-' }}</p>
            </ion-col>

            <ion-col>
              <p>
                <strong>
                  {{ "common.longtitude" | translate }}:
                </strong>
              </p>
              <p>{{ lon != null ? lon : '-.-' }}</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>


<ion-footer class="ion-no-border ion-text-center">
  <div class="distance">
    <p>
      <ion-text class="distance-text" (click)="switchTrip()">
        {{ !isSwitchTrip ? ('common.total' | translate) : ('common.trip' | translate) }}
      </ion-text>
      <ion-text class="distance-number">{{ distance != null ? distance : '-.-' }}</ion-text>
      <ion-text>{{ distanceUnit }}</ion-text>
    </p>
  </div>

  <div *ngIf="isPortrait" class="portrait-info">
    <swiper [autoplay]="{ delay: 10000, disableOnInteraction: false }" [loop]="true">
      <ng-template swiperSlide>
        <ion-card>
          <div class="details">
            <ion-row>
              <ion-col class="col-border">
                <p>
                  <strong>
                    {{ "common.total_time" | translate }}:
                  </strong>
                </p>
                <p>{{ totalTime !== null ? totalTime : '00:00:00'}}</p>
              </ion-col>

              <ion-col class="col-border">
                <p>
                  <strong>
                    {{ "common.top_speed" | translate }}:
                  </strong>
                </p>
                <p>{{ topSpeed != null ? topSpeed : '-' }} {{ speedUnit }}</p>
              </ion-col>


              <ion-col>
                <p>
                  <strong>
                    {{ "common.avg_speed" | translate }}:
                  </strong>
                </p>
                <p>{{ avgSpeed != null ? avgSpeed : '-.-'}} {{ speedUnit }}</p>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ng-template>

      <ng-template swiperSlide>
        <ion-card>
          <div class="details">
            <ion-row>
              <ion-col class="col-border">
                <p>
                  <strong>
                    {{ "common.altitude" | translate }}:
                  </strong>
                </p>
                <p>{{ altitude != null ? altitude : '-' }} {{ lenghtUnit }}</p>
              </ion-col>

              <ion-col>
                <p>
                  <strong>
                    {{ "common.accuracy" | translate }}:
                  </strong>
                </p>
                <p>{{ accuracy != null ? accuracy : '-'}} {{ lenghtUnit }}</p>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ng-template>

      <ng-template swiperSlide>
        <ion-card>
          <div class="details">
            <ion-row>
              <ion-col class="col-border">
                <p>
                  <strong>
                    {{ "common.latitude" | translate }}:
                  </strong>
                </p>
                <p>{{ lat != null ? lat : '-.-' }}</p>
              </ion-col>

              <ion-col>
                <p>
                  <strong>
                    {{ "common.longtitude" | translate }}:
                  </strong>
                </p>
                <p>{{ lon != null ? lon : '-.-' }}</p>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ng-template>
    </swiper>
  </div>
</ion-footer>