@font-face {
  font-family: Digi;
  src: url(../../../assets/fonts/DS-DIGII.TTF);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-40%); //old val-50%
  font-family: "Digi";
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  #speedo {
    font-size: 150px;
    margin: auto;
  }

  #unit {
    font-size: 25px;
  }
}

#trip {
  font-size: 27px;
  text-align: center;
  font-family: "Digi";
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.cus-btns {
  justify-content: flex-end;
}

.cus-toolbar {
  --background: #000000 !important;
}

.details {
  color: white;
  p {
    margin: auto;
  }

  .col-border {
    border-right: 1px solid grey;
  }
}

.header-timer,
.timer-icon {
  margin-left: 10px;
}

ion-card {
  border-radius: 10px;
}

@import "~swiper/css";
@import "~swiper/css/pagination";
.swiper {
  width: auto;

  .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: block !important;
  }
}
