<ion-header collapse="fade" [translucent]="true" class="ion-no-border" mode="ios">
  <ion-toolbar class="custom-toolbar">
    <div slot="start" class="left-toolbar">
      <ion-icon slot="start" name="time-outline">
      </ion-icon>
      <ion-text slot="start">{{ totalTime !== null ? totalTime : '00:00:00' }}</ion-text>
    </div>

    <div slot="end" class="right-toolbar">
      <ion-icon id="gpsStatus" name="locate" [color]="gpsStatusColor">
      </ion-icon>

      <ion-buttons>
        <ion-button routerLink="/settings" routerDirection="root">
          <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="center">
      <div class="speedo-div">
        <div>
          <div id="speedo">
            {{ speed !== undefined ? speed : '-'}}
          </div>
          <div id="unit" (click)="changeUnit()">
            {{ speedUnit }}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isPortrait" class="right">
      <div class="circle-info-div">
        <div class="details ion-justify-content-between">
          <span>
            <strong>
              {{ "common.averageSpeed" | translate }}:
            </strong>
          </span>

          <span>
            {{ averageSpeed != null ? averageSpeed : '-.-'}} {{ speedUnit }}
          </span>
        </div>
      </div>

      <div class="circle-info-div">
        <div class="details ion-justify-content-between">
          <span>
            <strong>
              {{ "common.topSpeed" | translate }}:
            </strong>
          </span>

          <span>
            {{ topSpeed != null ? topSpeed : '-'}} {{ speedUnit }}
          </span>
        </div>
      </div>

      <div class="circle-info-div">
        <div class="details ion-justify-content-between">
          <span>
            <strong>
              {{ "common.altitude" | translate }}:
            </strong>
          </span>
          <span>
            {{ altitude != null ? altitude : '-' }} {{ lengthUnit }}
          </span>
        </div>
      </div>

      <div class="circle-info-div">
        <div class="details ion-justify-content-between">
          <span>
            <strong>
              {{ "common.accuracy" | translate }}:
            </strong>
          </span>

          <span>
            {{ accuracy != null ? accuracy : '-'}} {{ lengthUnit }}
          </span>
        </div>
      </div>
    </div>
  </div>
</ion-content>


<ion-footer class="ion-no-border ion-text-center" mode="ios">
  <span class="distance">
    <ion-text class="distance-text" (click)="switchTrip()">
      {{ isSwitchTrip ? ('common.trip' | translate) : ('common.total' | translate) }}
    </ion-text>
    <ion-text>
      {{ isSwitchTrip ? (trip != null ? trip : '-.-') : (odo != null ? odo : '-') }} {{ distanceUnit }}
    </ion-text>
  </span>


  <span *ngIf="!isPortrait" class="landscape-coordinates">
    <span class="ion-text-left">
      <div>
        {{ "common.latitude" | translate }}:
      </div>
      <div>
        {{ "common.longitude" | translate }}:
      </div>
    </span>
    <span class="ion-text-left">
      <div>
        {{ lat ? lat : '-.-' }}
      </div>
      <div>
        {{ lon ? lon : '-.-' }}
      </div>
    </span>
  </span>


  <div *ngIf="isPortrait" class="portrait-info">
    <swiper [autoplay]="{ delay: 10000, disableOnInteraction: false }" [loop]="true" [effect]="'coverflow'"
      [coverflowEffect]="{ rotate: 50, stretch: 0, depth: 100, modifier: 1 }" [centeredSlides]="true">
      <ng-template swiperSlide>
        <ion-card>
          <div class="details">
            <ion-row>
              <ion-col class="col-border">
                <div>
                  <strong>
                    {{ "common.averageSpeed" | translate }}:
                  </strong>
                </div>
                <div>{{ averageSpeed != null ? averageSpeed : '-.-'}} {{ speedUnit }}</div>
              </ion-col>

              <ion-col>
                <div>
                  <strong>
                    {{ "common.topSpeed" | translate }}:
                  </strong>
                </div>
                <div>{{ topSpeed != null ? topSpeed : '-' }} {{ speedUnit }}</div>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ng-template>

      <ng-template swiperSlide>
        <ion-card>
          <div class="details">
            <ion-row>
              <ion-col class="col-border">
                <div>
                  <strong>
                    {{ "common.altitude" | translate }}:
                  </strong>
                </div>
                <div>{{ altitude != null ? altitude : '-' }} {{ lengthUnit }}</div>
              </ion-col>

              <ion-col>
                <div>
                  <strong>
                    {{ "common.accuracy" | translate }}:
                  </strong>
                </div>
                <div>{{ accuracy != null ? accuracy : '-'}} {{ lengthUnit }}</div>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ng-template>

      <ng-template swiperSlide>
        <ion-card>
          <div class="details">
            <ion-row>
              <ion-col class="col-border">
                <div>
                  <strong>
                    {{ "common.latitude" | translate }}:
                  </strong>
                </div>
                <div>{{ lat ? lat : '-.-' }}</div>
              </ion-col>

              <ion-col>
                <div>
                  <strong>
                    {{ "common.longitude" | translate }}:
                  </strong>
                </div>
                <div>{{ lon ? lon : '-.-' }}</div>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ng-template>
    </swiper>
  </div>
</ion-footer>