#container {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#speedo {
  font-family: "Number";
  font-size: 120px;
}

#unit {
  font-size: 25px;
}

.distance {
  font-size: 25px;
  width: fit-content;
  margin: auto;
  color: var(--ion-text-color);

  .distance-text {
    font-size: 16px;
    margin-right: 10px;
  }
}

.cus-btns {
  justify-content: flex-end;
}

.details {
  color: var(--ion-text-color);

  .col-border {
    border-right: 2px solid var(--ion-color-step-150);
  }
}

.timer-icon {
  margin-left: 10px;
  margin-right: 5px;
}

.cus-toolbar {
  --background: var(--ion-background-color) !important;
}

@media (orientation: portrait) {
  .landscape-info {
    display: none;
  }

  #container {
    text-align: center;
  }

  #speedo {
    transform: scale(1) rotate(0deg) translate(-14px, 0px) skew(12deg, 0deg);
  }

  @media only screen and (max-width: 380px) {
    #speedo {
      font-size: 100px !important;
      transform: scale(1) rotate(0deg) translate(-12px, 0px) skew(12deg, 0deg);
    }

    #unit {
      font-size: 20px !important;
    }

    .details,
    .times {
      font-size: 12px;
    }

    .distance {
      font-size: 20px;
    }
  }
}

@media (orientation: landscape) {
  .portrait-info {
    display: none;
  }

  #container {
    display: flex;
    gap: 25px;
    text-align: end;
  }

  #speedo {
    transform: scale(1) rotate(0deg) translate(-0.5rem, 0px) skew(12deg, 0deg);
  }

  .speedo-div,
  .landscape-info {
    margin: auto;
    min-width: 325px;
  }

  .landscape-info ion-card {
    text-align: center;
    box-shadow: 0 0 15px 0 var(--ion-background-color-white);
    border: 1px solid var(--ion-background-color-white);
  }

  .details {
    padding: 5px;

    .border-bottom {
      border-bottom: 1px solid var(--ion-color-step-200);
    }
  }

  @media only screen and (max-width: 700px) {
    #speedo {
      font-size: 100px !important;
    }

    #unit {
      font-size: 20px !important;
    }

    .distance {
      font-size: 20px;
    }

    .details,
    .timer {
      font-size: 12px;
    }

    .speedo-div,
    .landscape-info {
      min-width: 310px;
    }
  }
}
