#container {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;

  .left {
    margin-right: -2vmax;
  }

  .right {
    margin-left: -15vmax;
    z-index: -1;

    .circle-info-div {
      width: 50vmax;
      height: 7.5vmax;
      padding: 1vmax 2vmax 1vmax 16vmax;
      border-radius: unset;
      border: 0.3vmax solid var(--ion-color-step-150);

      &:first-child {
        padding: 1vmax 2vmax 1vmax 12vmax;
        border-radius: 0 5vmax 0 0;
        border-bottom: 0.3vmax solid var(--ion-color-step-150);
      }

      &:nth-child(2) {
        border-top: unset;
        border-bottom: 0.3vmax solid var(--ion-color-step-150);
      }

      &:nth-child(3) {
        border-top: unset;
        border-bottom: 0.3vmax solid var(--ion-color-step-150);
      }

      &:last-child {
        padding: 1vmax 2vmax 1vmax 12vmax;
        border-radius: 0 0 5vmax 0;
        border-top: unset;
      }

      .details {
        width: 100%;
        display: flex;
        gap: 0.75vmax;
      }
    }
  }
}

.speedo-div {
  width: 30vmax;
  height: 30vmax;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-info-div {
  width: 12vmax;
  height: 12vmax;
  text-align: center;
  font-size: 2vmax;
  background: linear-gradient(
    to top,
    var(--ion-color-step-50),
    var(--ion-color-step-100)
  );
  border: 0.3vmax solid var(--ion-color-step-150);

  @extend .speedo-div;
}

#speedo {
  // font-family: "Number";
  // transform: scale(1) rotate(0deg) translate(-1vmax, 0) skew(12deg, 0deg);
  font-family: "Orbitron", sans-serif;
  font-size: 8vmax;
}

#unit {
  font-size: 3vmax;
}

.distance {
  font-size: 3vmax;
  width: fit-content;
  margin: auto;
  color: var(--ion-text-color);

  .distance-text {
    font-size: 2vmax;
    margin-right: 1vmax;
  }
}

.details {
  color: var(--ion-text-color);

  .col-border {
    border-right: 0.3vmax solid var(--ion-color-step-150);
  }
}

.timer-icon {
  margin-left: 0.25vmax;
  margin-right: 0.5vmax;
}

@media (orientation: portrait) {
  .landscape-info,
  .right {
    display: none;
  }

  #container {
    text-align: center;
  }
}

@media (orientation: landscape) {
  .portrait-info {
    display: none;
  }

  .speedo-div {
    background: linear-gradient(
      to top,
      var(--ion-color-step-50),
      var(--ion-color-step-100)
    );
    border: 0.3vmax solid var(--ion-color-step-150);
  }

  .right {
    .circle-info-div {
      animation: show 0.5s;
    }
  }

  #container {
    text-align: center;
  }
}

@keyframes show {
  0% {
    white-space: nowrap;
    overflow: hidden;
    width: 12vmax;
    padding: 0;
  }
  50% {
    white-space: nowrap;
    overflow: hidden;
  }
  100% {
    width: 50vmax;
  }
}
